<h2>User creation</h2>

<form id="createplayerparent">
    <div class="user-input-element">
        <div class="player-label">
            Username
        </div>
        <input class="text-input" name="username" id="username" type="text" required/>
    </div>
    <div class="user-input-element">
        <div class="player-label">
            Password
        </div>
        <input class="text-input" name="password" id="password" type="text" required/>

    </div>
    <button class="createuser" id="createuser">Create user!</button>
</form>

<div class="pre-fight" id="postplayercreation">
    Hello <span id="yournamehere"></span> click on the buttons below to fiiight!
</div>