<div class="pre-fight" id="fightparent">
    <h2>Now <span class="fight">Fight</span> .... with hands!</h2>

    <div class="fight-button-parent">
        <button class="fight-button rock" name="rock" id="rock" type="button">Rock</button>
        <button class="fight-button paper" name="paper" id="paper">Paper!!</button>
        <button class="fight-button scissors" id="scissors">Scissors</button>
    </div>

    <div>
        <div>Game results</div>
            <ul id="yourresultshere">

            </ul>
        <!--
            <table class="fight-result" id="fightstatus">
                <tr class="headercolumns">
                    <th>Your move</th>
                    <th>Their move</th>
                    <th>Result</th>
                </tr>
            </table>
            -->
        </div>
    </div>

    <h3 class="fighttype">
        How game are you?
    </h3>
    <div>
        <div class="fight-type-option">
            <input type="radio" name="fighttype" value="randomcpu" checked>Random cpu</input>
        </div>
        <div class="fight-type-option">
            <input type="radio" name="fighttype" value="smartcpu">Smart cpu</input>
        </div>
        <div class="fight-type-option">
            <input type="radio" name="fighttype" value="anotherhuman">Another human</input>
        </div>
    </div>

</div>